$font-main: 'Open Sans', sans-serif;
$font-landing: 'Merriweather', serif;
$font-secondary: 'Montserrat', sans-serif;

$color-bg-landing: #f5f5f5;
$color-text-footer: #6b6b6b;
$color-white: white;
$color-black: black;
$color-primary-dark: rgb(225, 115, 52);
$color-primary-light: #f9f4dc;
$color-secondary-dark: #114e4e;
$color-secondary-medium: #438792;
$color-secondary-light: #a2deaf;
$color-secondary-dark-grey: #54585a;
$color-secondary-grey: #dde9ed;
$color-secondary-light-grey: #d8d8d8;
$color-secondary-extra-light-grey: #d5d5d5;
$color-secondary-bright-blue: #00a0f5;

$color-dried-blood: #4b0101;
$color-rusty-red: #8b3a3a;
$color-tomato: #ff6347;
$color-slate: #708090;
$color-faded-orange: #fe994a;
$color-light-grey-blue: #b7c9e2;


