// fonts
$font-main: 'Open Sans', sans-serif;
//Open Sans normal y 600
$font-landing: 'Merriweather', serif;
//Merriweather 900
$font-secondary: 'Montserrat', sans-serif;
//Montserrat bold, normal

// colors
$color-bg-landing: #f5f5f5;
$color-text-footer: #6b6b6b;
$color-white: white;
$color-black: black;

// primarios
$color-primary-dark: rgb(225, 115, 52);
$color-primary-light: #f9f4dc;

// secundarios
$color-secondary-dark: #114e4e;
$color-secondary-medium: #438792;
$color-secondary-light: #a2deaf;
$color-secondary-grey: #dde9ed;

//color-primary-dark/medium/light
//color-secondary-dark/medium/light
