// fonts
$font-main: 'Open Sans', sans-serif;
//Open Sans normal y 600
$font-landing: 'Merriweather', serif;
//Merriweather 900
$font-secondary: 'Montserrat', sans-serif;
//Montserrat bold, normal



// colors
$color-bg-landing: #f5f5f5;
$color-white: white;
$color-black: black; 

// primarios
$color-primary-dark: #e17334; 
$color-primary-light: #f9f4dc; 

// secundarios
$color-secondary-dark: #114e4e;
$color-secondary-medium: #438792;
$color-secondary-light: #a2deaf;

// palette colors

$color-dried-blood: #4B0101;
$color-rusty-red: #8B3A3A;
$color-tomato: #FF6347; 
$color-slate: #708090 ;
$color-faded-orange: #fe994a;
$color-light-grey-blue: #B7C9E2; 

//color-primary-dark/medium/light
//color-secondary-dark/medium/light
