.color__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: 340px;
}

.form__box{
  display: flex;
  align-items: center;
  border: none; 
  margin: 5px;
}

.form__heading {
  display: flex;
 margin: 15px;
 
}

.fa-object-ungroup {
  display: flex;
  align-items: center;
  padding: 20px;
  size: 20px;
  color: $color-primary-dark;
  padding-right: 10px;
}

.fa-chevron-up{
  position: absolute;
  right: 0;
  padding: 20px;
  color: $color-secondary-gunmetal;
  size: 18px;
}

.title {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 600;
  padding: 20px;
  padding-left: 10px;
  color: $color-secondary-gunmetal;
}

.color__selection--form {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.color__container--group {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.color {

  &__input {
    display: flex;
  }

  &__palette {
    display: flex;
    cursor: pointer;
  }

  &__swatch {
    width: 30px;
    height: 25px;
    display: inline-block;
  }
}

.color__container--title{
  position: absolute;
  left:0;
  padding-left: 50px; 
  color: $color-secondary-gunmetal;
  font-family: $font-main;
  size: 14px;
  font-weight: normal;
}

.swatch1 {
  background-color: $color-secondary-dark;
}

.swatch2 {
  background-color: $color-secondary-medium;
}

.swatch3 {
  background-color: $color-secondary-light;
}

.swatch4 {
  background-color: $color-dried-blood;
}

.swatch5 {
  background-color: $color-rusty-red;
}

.swatch6 {
  background-color: $color-tomato;
}

.swatch7 {
  background-color: $color-slate;
}

.swatch8 {
  background-color: $color-faded-orange;
}

.swatch9 {
  background-color: $color-light-grey-blue;
}



