.color__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  padding: 20px;
  width: 100%;
  // height: 340px;
}

.form__box {
  display: flex;
  align-items: center;
  margin: 5px;
  border: none;
}

.form__heading {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.fa-object-ungroup {
  color: #fec89a;
  font-size: 21px;
}

.fa-paw {
  color: #604d53;
  font-size: 20px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.title {
  color: #4a4e69;
  font-family: $font-main;
  font-size: 18px;
  font-weight: 600;
}
.title:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s ease;
}

.color__selection--form {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.color__container--group {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.color {
  &__input {
    display: flex;
  }

  &__palette {
    display: flex;
    cursor: pointer;
  }

  &__swatch {
    width: 30px;
    height: 25px;
    display: inline-block;
  }
}



.color__palette{
  border: 1px solid black;
}

.color__container--title {
  position: absolute;
  left: 0;
  padding-left: 50px;
  color: $color-secondary-dark-grey;
  font-family: $font-main;
  size: 14px;
  font-weight: normal;
}

.swatch1 {
  background-color: $color-secondary-dark;
}

.swatch2 {
  background-color: $color-secondary-medium;
}

.swatch3 {
  background-color: $color-secondary-light;
}

.swatch4 {
  background-color: $color-dried-blood;
}

.swatch5 {
  background-color: $color-rusty-red;
}

.swatch6 {
  background-color: $color-tomato;
}

.swatch7 {
  background-color: $color-slate;
}

.swatch8 {
  background-color: $color-faded-orange;
}

.swatch9 {
  background-color: $color-light-grey-blue;
}


// ================PALETTE 4 PINK =================
.swatch10 {
  background-color: #ffc8dd;
}

.swatch11 {
  background-color: #ffafcc;
}

.swatch12 {
  background-color: #bde0fe;
}

// ================PALETTE 5 BLUE=================

.swatch13 {
  background-color: #4a8fe7;
}

.swatch14 {
  background-color: #59d2fe;
}

.swatch15 {
  background-color: #44e5e7;
}


// ================PALETTE 6 PURPLE=================

.swatch16 {
  background-color: #e2dada;
}

.swatch17 {
  background-color: #620097;
}

.swatch18 {
  background-color: #370075;
}