.color__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
}

.color__selection--form {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.color__container--group {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.color {

  &__input {
    display: flex;
  }

  &__palette {
    display: flex;
    cursor: pointer;
  }

  &__swatch {
    width: 40px;
    height: 40px;
    display: inline-block;
  }
}

.swatch1 {
  background-color: $color-secondary-dark;
}

.swatch2 {
  background-color: $color-secondary-medium;
}

.swatch3 {
  background-color: $color-secondary-light;
}

.swatch4 {
  background-color: $color-dried-blood;
}

.swatch5 {
  background-color: $color-rusty-red;
}

.swatch6 {
  background-color: $color-tomato;
}

.swatch7 {
  background-color: $color-slate;
}

.swatch8 {
  background-color: $color-faded-orange;
}

.swatch9 {
  background-color: $color-light-grey-blue;
}