.form__box_form {
  display: flex;
  align-items: center;
  margin: 5px;
  border: none;
}

.form__heading_form {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.fa-keyboard {
  color: $color-primary-dark;
  font-size: 21px;
}

.fa-angle-up {
  color: $color-secondary-dark-grey;
  font-size: 20px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.title_form {
  color: $color-secondary-dark-grey;
  font-family: $font-main;
  font-size: 18px;
  font-weight: 600;
}
.title_form:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s ease;
}

.form__design__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  @media all and (min-width: 768px) {
    gap: 5px;
  }

  .form__label {
    padding-top: 10px;
    font-size: 14px;
    font-family: $font-main;
    color: $color-secondary-dark;
  }

  input {
    border: 1px solid $color-secondary-light;
    padding: 7px;
    ::placeholder {
      font-size: 14px;
      font-family: $font-main;
      color: $color-text-footer;
    }
  }
}

.btn_img {
  font-family: $font-main;
  border-radius: 5px;
  border: none;
  width: 140px;
  height: 30px;
  margin: 7px 20px 20px 0;
  color: white;
  background-color: #e17334;
  font-size: 15px;
  font-weight: 100;
}
