footer {
  width: 100%;
  height: 18vh;
  padding-top: 15px;
  // background-image:  url('https://www.manolosimon.com/wp-content/uploads/2020/08/marmoles-blancos.jpg');
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid $color-secondary-light-grey;
  @media (min-width: 768px) {
    height: 7vh;
    flex-direction: row;
    padding: 15px 40px;
    justify-content: space-between;
  }
  @media (min-width: 1024px) {
    height: 9vh;
    padding: 5px 40px;
  }
  @media (min-width: 1280px) {
    height: 8vh;
    padding: 10px 40px;
  }

  span {
    font-family: $font-main;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-footer;
    @media (min-width: 768px) {
      margin-top: 8px;
    }
    @media (min-width: 1024px) {
      margin-top: 10px;
    }
  }

  figure {
    width: 120px;
    height: 40px;
    margin: auto;
    @media (min-width: 768px) {
      margin: 0;
    }
    img {
      width: 100%;
    }
  }
}
