footer {
  width: 100%;
  height: 18vh;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  bottom: 0;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  @media (min-width: 768px) {
    height: 8vh;
    flex-direction: row;
    padding: 20px 40px;
    justify-content: space-between;
  }
  @media (min-width: 1024px) {
    height: 8vh;
    flex-direction: row;
    padding: 8px 40px;
    justify-content: space-between;
  }

  span {
    font-family: $font-main;
    font-size: 14px;
    height: 20px;
    color: $color-text-footer;
    @media (min-width: 768px) {
      margin-top: 8px;
    }
    @media (min-width: 1024px) {
      margin-top: 10px;
    }
  }

  figure {
    width: 100px;
    margin: auto;
    padding-bottom: 5px;
    @media (min-width: 768px) {
      margin: 0;
    }
    img {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
