footer {
  width: 100%;
  height: 18vh;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  span {
    font-family: $font-main;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-footer;
  }
  figure {
    width: 100px;
    margin: auto;
    img {
      width: 100%;
    }
  }
}
