.header__landing {
  padding: 140px 0px 35px 0px;
  height: 32vh;
  background-color: $color-bg-landing;
  @media (min-width: 768px) {
    padding: 0px;
    height: 45vh;
    padding-top: 33vh;
  }
  figure {
    width: 250px;
    margin: 0px auto;
    @media (min-width: 768px) {
      width: 420px;
    }
    img {
      width: 100%;
    }
  }
}
