.header {
  height: 130px;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    display: block;
    padding: 0px 80px 40px 40px;
  }

  figure {
    width: 250px;
    img {
      cursor: url('/images/paw2.png') 10 10, auto;
      width: 100%;
    }
  }
}
