.collapsed {
  display: none;
}

.change_grey_button {
  background-color: $color-text-footer;
}
  
.rotate-down {
transform-origin: center;
transform: rotateX(180deg);
transition: transform 0.3s ease;
}

  .hidden {
    display: none;
  }
  
