.collapsed {
  display: none;
}

.change_grey_button {
  background-color: $color-text-footer;
}
  
.rotate-down {
transform-origin: center;
transform: rotateX(180deg);
transition: transform 0.3s ease;
}

.color {
  background-color: white;
}



.background1 {
  background-image: url("./images/backgrounds/1.png"); 
  background-color: rgba(255, 255, 255, 0.7); /* Cambia este valor según sea necesario */
}

.background2 {
  background-image: url("./images/brackgrounds/2.png");
  background-color: rgba(255, 255, 255, 0.7); /* Cambia este valor según sea necesario */
}

.background3 {
  background-image: url("./images/brackgrounds/3.png");
  background-color: rgba(255, 255, 255, 0.7); /* Cambia este valor según sea necesario */
}

.background4 {
  background-image: url("./images/brackgrounds/4.png");
  background-color: rgba(255, 255, 255, 0.7); /* Cambia este valor según sea necesario */
}

.background5 {
  background-image: url("./images/brackgrounds/5.png");
  background-color: rgba(255, 255, 255, 0.7); /* Cambia este valor según sea necesario */
}

.background6 {
  background-image: url("./images/brackgrounds/6.png");
  background-color: rgba(255, 255, 255, 0.7); /* Cambia este valor según sea necesario */
}
