.collapsed {
  display: none;
}

.change_grey_button {
  background-color: $color-text-footer;
}

.rotate-down {
  transform-origin: center;
  transform: rotateX(180deg);
  transition: transform 0.3s ease;
}

.color {
  background-color: white;
}

.js-title-grey {
  color: '#54585a';
}

.background1 {
  background-image: url('./images/backgrounds/1.png');
  background-color: rgba(255, 255, 255, 0.7); 
}

.background2 {
  background-image: url('./images/brackgrounds/2.png');
  background-color: rgba(255, 255, 255, 0.7); 
}

.background3 {
  background-image: url('./images/brackgrounds/3.png');
  background-color: rgba(255, 255, 255, 0.7); 
}

.background4 {
  background-image: url('./images/brackgrounds/4.png');
  background-color: rgba(255, 255, 255, 0.7); 
}

.background5 {
  background-image: url('./images/brackgrounds/5.png');
  background-color: rgba(255, 255, 255, 0.7); 
}

.background6 {
  background-image: url('./images/brackgrounds/6.png');
  background-color: rgba(255, 255, 255, 0.7); 
}
