.main_landing {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-landing;
  position: relative;
  text-align: center;

  .main_landing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figure {
    padding-bottom: 10px;
    width: 300px;

    @media (min-width: 768px) {
      width: 450px;
    }
    @media (min-width: 1024px) {
      padding-bottom: 20px;
    }
    img {
      width: 100%;
    }
  }

  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #916db3;
    text-align: center;
    padding-bottom: 5px;
    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 5px;
    }
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #e48586;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .main_landing__actions {
    width: 300px;
    margin: 20px auto 0 auto;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: rgb(61, 59, 59);
    border: 2px dotted #916db3;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    @media (min-width: 768px) {
      width: 400px;
      font-size: 18px;
      margin: 20px auto 0 auto;
    }

    &--icon {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 60px;
      gap: 3px;

      i {
        color: #2d9596;
        font-size: 22.4px;
        @media (min-width: 768px) {
          font-size: 28px;
        }
      }

      .icon-landing {
        padding: 0px;
      }
    }
  }

  .start {
    width: 130px;
    padding: 10px;
    border: 2px solid rgb(194, 178, 225);
    background-color: rgb(194, 178, 225);
    color: $color-white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-decoration: none;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.start:hover {
  border: 2px dotted #916db3;
  background-color: #916db3;
  font-weight: 500;
  transition: 0.5s ease;
}
