.main_landing {
  height: 82vh;
  padding-top: 20vh;
  background-color: $color-bg-landing;
  text-align: center;
  @media (min-width: 768px) {
    height: 92vh;
    padding-top: 30vh;
  }
  @media (min-width: 1024px) {
    height: 92vh;
    padding-top: 20vh;
  }

  .logo__landing {
    padding-bottom: 30px;
    @media (min-width: 1024px) {
      padding-bottom: 20px;
    }
    figure {
      width: 250px;
      margin: 0px auto;
      @media (min-width: 768px) {
        width: 420px;
      }
      img {
        width: 100%;
      }
    }
  }

  h1 {
    font-family: $font-landing;
    font-size: 19.2px;
    color: $color-primary-dark;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 5px;
    }
  }

  p {
    font-family: $font-main;
    font-size: 12.8px;
    color: $color-secondary-dark;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .main_landing__container {
    width: 320px;
    margin: 30px auto 70px auto;
    padding: 15px 20px 20px 15px;
    font-size: 14px;
    color: #54585a;
    border: 2px solid rgba(215, 115, 52, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    @media (min-width: 768px) {
      font-size: 18px;
      margin: 20px auto 170px auto;
    }
    @media (min-width: 1024px) {
      font-size: 18px;
      margin: 20px auto 50px auto;
    }

    &--icon {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 60px;
      gap: 3px;

      i {
        color: $color-primary-dark;
        font-size: 22.4px;
        @media (min-width: 768px) {
          font-size: 28px;
        }
      }

      .icon-landing {
        padding: 0px;
      }
    }
  }

  .start {
    width: 129px;
    padding: 10px 20px;
    background-color: $color-secondary-medium;
    color: $color-white;
    font-size: 16px;
    font-family: $font-main;
    text-decoration: none;
    border-radius: 20px;
  }
}
