
// sections > section1 + section2
// select_seccion > , section2=  desing , fillout, share. 


.sections  { 
    width: 100%; 
    display: flex;
    flex-direction: column;
        @media all and (min-width: 768px) { 
            background-color: #f5f5f5;
            height: 100vh;
            padding: 30px;
            flex-direction: row-reverse;
    }
    @media all and (min-width: 1024px) {
        width: 100%;
    }
    
}



.card_section{  
    padding: 0px 25px 45px 25px;
    background-color: $color-secondary-grey;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
        @media all and (min-width: 768px) { 
            width: 40%;
            height: 90%;
            border-radius: 6px;
            justify-content: center;
            position: relative;
    }
}



.select_section {
    width: 100%;
        @media all and (min-width: 768px) { 
            position: relative;
            width: 40vh;     
}
// @media all and (min-width: 1024px) {
//     padding-right: 800px;
// }
}
