// sections > section1 + section2
// select_seccion > , section2=  desing , fillout, share. 
.sections { 
    
    display: grid;
    grid-template-rows: auto;
        @media all and (min-width: 768px) { 
            background-color: #f5f5f5;
            padding: 30px;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            justify-content: left;
    }
}


.profile {  
    padding: 5px 35px 50px 35px;
    background-color: $color-secondary-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
        @media all and (min-width: 768px) { 
            height: 100%;
            width: 100%;
            grid-area: 2;

        
    }
}



.select_seccion {
    width: 100%;
        @media all and (min-width: 768px) { 
            width: 100%;
            height: 100%;
            grid-area: 1;

}
}