.share_section {
  //width: 100%;
  min-width: 320px;
  padding-bottom: 30px;
  border: none;

  &__top_line {
    border-bottom: 1px solid $color-secondary-light-grey;
    padding-bottom: 10px;
    margin-left: 7%;
    width: 86%;
  }

  &__bottom_line0 {
    border-bottom: 1px solid $color-secondary-light-grey;
    padding-bottom: 20px;
    margin-left: 7%;
    width: 86%;
  }

  &__top_part {
    display: flex;
    align-items: center;
    margin: 5px;
    border: none;
    padding-top: 20px;

    &--group {
      display: flex;
      justify-content: end;
      align-items: center;
      padding-left: 20px;
      gap: 15px;

      .share_icon {
        color: $color-primary-dark;
        font-size: 21px;
      }

      .share_message {
        font-family: $font-main;
        font-weight: 600;
        font-size: 18px;
        color: $color-secondary-dark-grey;
      }
      .share_message:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.5s ease;
      }
    }

    .angle_up_icon {
      padding-right: 20px;
      color: $color-secondary-dark-grey;
      font-size: 20px;
      cursor: pointer;
    }
  }

  &__create_card {
    display: flex;
    justify-content: center;
    padding: 30px 0 15px 0;
    :hover {
      background-color: rgb(185, 70, 4);
      transition: 0.5s ease;
    }

    & button {
      border: none;
      color: $color-white;
      background-color: $color-primary-dark;
      padding: 13px 16px 13px 16px;
      border-radius: 12px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      :hover {
        background-color: rgb(185, 70, 4);
        transition: 0.5s ease;
      }

      & i {
        font-size: 23px;
      }

      & p {
        font-family: $font-main;
        font-size: 18px;
        font-weight: 500;
      }

      &__bottom_line {
        border-bottom: 1px solid $color-secondary-light-grey;
        width: 86%;
        margin: 30px 7% 0 7%;
      }
    }
  }
}

//DROP-DOWN
.drop_down {
  padding-top: 20px;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;

  .message_after {
    font-family: $font-main;
    font-size: 18px;
    color: $color-secondary-dark-grey;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
  }

  .card_link {
    text-decoration: none;
    font-family: $font-main;
    font-size: 14px;
    color: $color-primary-dark;
    margin-bottom: 10px;
  }

  .twitter_button {
    background-color: $color-secondary-bright-blue;
    border-radius: 3px;
    padding: 9px 0px 7px 0px;
    display: flex;
    justify-content: center;
    gap: 8px;
    color: $color-white;
    width: 170px;
    align-self: center;

    .twitter_text {
      text-decoration: none;
      color: $color-white;
      font-family: $font-main;
      font-size: 14px;
    }
  }

  .bottom_line2 {
    border-bottom: 1px solid $color-secondary-light-grey;
    width: 86%;
    margin: 30px 7% 0 7%;
  }

  .footer_line {
    border-bottom: 1px solid $color-secondary-light-grey;
    padding-top: 30px;
  }
}
