<fieldset class="form__box">
  <legend class="form__heading">
    <i class="far fa-object-ungroup" aria-hidden="true"></i>
    <h2 class="title js-text-design">DISEÑA</h2>
    <i class="fa-solid fa-paw js-arrow-up-design" aria-hidden="true"></i>

  </legend>
  <div class="color__container js-color-container collapsed">
    <p class="color__container--title"></p>
    <div class="color__container--group">
      <input
        class="color__input js-radio1 js-button1"
        id="colorScheme1"
        type="radio"
        value="1"
        name="colorScheme"
        checked
      />
      <label class="color__option" for="colorScheme1">
        <div class="color__palette palette1">
          <p class="color__container--title">Green</p>
          <div class="color__swatch swatch1"></div>
          <div class="color__swatch swatch2"></div>
          <div class="color__swatch swatch3"></div>
        </div>
      </label>
    </div>

    <div class="color__container--group">
      <input
        class="color__input js-radio2 js-button2"
        id="colorScheme2"
        type="radio"
        value="2"
        name="colorScheme"
      />
      <label class="color__option" for="colorScheme2">
        <p class="color__container--title">Red</p>
        <div class="color__palette palette2">
          <div class="color__swatch swatch4"></div>
          <div class="color__swatch swatch5"></div>
          <div class="color__swatch swatch6"></div>
        </div>
      </label>
    </div>

    <div class="color__container--group">
      <input
        class="color__input js-radio3 js-button3"
        id="colorScheme3"
        type="radio"
        value="3"
        name="colorScheme"
      />
      <label class="color__option" for="colorScheme3">
        <p class="color__container--title">Orange</p>
        <div class="color__palette palette3">
          <div class="color__swatch swatch7"></div>
          <div class="color__swatch swatch8"></div>
          <div class="color__swatch swatch9"></div>

        </div>
      </label>
    </div>


    <!-- =====================NEW COLORS======================== -->
    <div class="color__container--group">
      <input
        class="color__input js-radio4 js-button4"
        id="colorScheme4"
        type="radio"
        value="4"
        name="colorScheme"
      />
      <label class="color__option" for="colorScheme4">
        <p class="color__container--title">Pink</p>
        <div class="color__palette palette4">
          <div class="color__swatch swatch10"></div>
          <div class="color__swatch swatch11"></div>
          <div class="color__swatch swatch12"></div>
        </div>
      </div>

      <div class="color__container--group">
        <input
          class="color__input js-radio5 js-button5"
          id="colorScheme5"
          type="radio"
          value="4"
          name="colorScheme"
        />
        <label class="color__option" for="colorScheme5">
          <p class="color__container--title">Blue</p>
          <div class="color__palette palette5">
            <div class="color__swatch swatch13"></div>
            <div class="color__swatch swatch14"></div>
            <div class="color__swatch swatch15"></div>
          </div>
        </div>

        <div class="color__container--group">
          <input
            class="color__input js-radio6 js-button6"
            id="colorScheme6"
            type="radio"
            value="6"
            name="colorScheme"
          />
          <label class="color__option" for="colorScheme6">
            <p class="color__container--title">AstroPurple</p>
            <div class="color__palette palette6">
              <div class="color__swatch swatch16"></div>
              <div class="color__swatch swatch17"></div>
              <div class="color__swatch swatch18"></div>
            </div>
          </div>
          <!-- =====================END NEW COLORS======================== -->
  </div>
</fieldset>
