<form class="color_selection_form">
    <fieldset>
        <legend>COLORES</legend>
        <div class="color_options">
            <label class="color_option" for="colorScheme1">
                <input class="color_input" id="colorScheme1" type="radio" value="1" name="colorScheme" checked />
                <div class="color_palette palette1">
                    <div class="color_swatch swatch1"></div>
                    <div class="color_swatch swatch2"></div>
                    <div class="color_swatch swatch3"></div>
                </div>
            </label>

            <label class="color_option" for="colorScheme2">
                <input class="color_input" id="colorScheme2" type="radio" value="2" name="colorScheme" />
                <div class="color_palette palette2">
                    <div class="color_swatch swatch4"></div>
                    <div class="color_swatch swatch5"></div>
                    <div class="color_swatch swatch6"></div>
                </div>
            </label>

            <label class="color_option" for="colorScheme3">
                <input class="color_input" id="colorScheme3" type="radio" value="3" name="colorScheme" />
                <div class="color_palette palette3">
                    <div class="color_swatch swatch7"></div>
                    <div class="color_swatch swatch8"></div>
                    <div class="color_swatch swatch9"></div>
                </div>
            </label>
        </div>
    </fieldset>
</form>