<fieldset class="form__box">
  <legend class="form__heading">
    <i class="fa-regular fa-keyboard" aria-hidden="true"></i>
    <h2>RELLENA</h2>
    <i class="fa-solid fa-angle-up" aria-hidden="true"></i>
  </legend>
  <div>
    <!-- Complete name -->
    <label for="name">Nombre completo</label>
    <input type="text" id="name" name="name" placeholder="Ej: Sally Hill" />

    <!-- Job position -->
    <label for="job">Puesto</label>
    <input type="text" id="job" name="job" placeholder="Ej: Front-end unicorn" />

    <!-- IMAGEN -->

    <!-- Email -->
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Ej: sally-hill@gmail.com" />

    <!-- Phone Number -->
    <label for="phone">Teléfono</label>
    <input type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />

    <!-- Linkedin -->
    <label for="linkedin">Linkedin</label>
    <input type="text" id="linkedin" name="linkedin" placeholder="Ej:linkedin.com/in/sally.hill" />

    <!-- Github -->
    <label for="github">Github</label>
    <input type="email" id="github" name="github" placeholder="Ej: @sally-hill" />
  </div>
</fieldset>
