<div class="share_section__top_line"></div>
<fieldset class="form__box_form">
  <legend class="form__heading_form">
    <i class="fa-regular fa-keyboard" aria-hidden="true"></i>
    <h2 class="title_form">RELLENA</h2>
    <i class="fa-solid fa-angle-up js-arrow-up-form" aria-hidden="true"></i>
  </legend>

  <div class="form__design__input js-form collapsed">
    <!-- Complete name -->
    <label class="form__label" for="name">Nombre completo</label>
    <input
      type="text"
      id="name"
      name="name"
      class="js_name"
      placeholder="Ej: Sally Hill"
      required
      pattern="^[A-ZÑa-zñáéíóúÁÉÍÓÚ'° ]+$"
    />

    <!-- Job position -->
    <label class="form__label" for="job">Puesto</label>
    <input
      type="text"
      id="job"
      name="job"
      class="js_job_position"
      placeholder="Ej: Front-end unicorn"
      required
      pattern="^[A-ZÑa-zñáéíóúÁÉÍÓÚ'° ]+$"
    />

    <!-- IMAGEN -->
    <label class="form__label form__photolabel" for="image">Imagen de perfil</label>
    <div class="action">
      <label class="action__upload-btn" for="image">Añadir imagen</label>
      <input
        type="file"
        name="image"
        id="image"
        style="display: none"
        class="collapsed js__profile-upload-btn"
        accept="image/*"
        required
      />
      <!-- con accept="image/*", sólo se previsualizará cuando el archivo sea formato de imagen -->
      <div class="profile__preview js__profile-preview"></div>
    </div>

    <!-- Email -->
    <label class="form__label" for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="js_email"
      placeholder="sally-hill@gmail.com"
      required
      pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    />

    <!-- Phone Number -->
    <label class="form__label" for="phone">Teléfono</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      class="js_phone"
      placeholder="Ej: 555-55-55-55"
      required
      pattern="^[0-9]{9}$"
    />

    <!-- Linkedin -->
    <label class="form__label" for="linkedin">Linkedin</label>
    <input
      type="text"
      id="linkedin"
      name="linkedin"
      class="js_linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
      required
      pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    />

    <!-- Github -->
    <label class="form__label" for="github">Github</label>
    <input
      type="text"
      id="github"
      name="github"
      class="js_github"
      placeholder="Ej: @sally-hill"
      required
      pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    />

    <input type="submit" id="hiddenSubmit" style="display: none" />
  </div>
</fieldset>
