<main class="main_landing">
  <h1>Crea tu tarjeta de visita</h1>
  <p>Crea mejores contactos profesionales de <br />forma fácil y cómoda</p>
  <div class="main_landing__container">
    <div class="main_landing__container--icon">
      <i class="fa-regular fa-object-ungroup"></i>
      <span>Diseña</span>
    </div>
    <div class="main_landing__container--icon">
      <i class="fa-regular fa-keyboard"></i>
      <span>Rellena</span>
    </div>
    <div class="main_landing__container--icon">
      <i class="fa-solid fa-share-nodes"></i>
      <span>Comparte</span>
    </div>
  </div>
  <a class="start" href="edit_cards.html">COMENZAR</a>
</main>
