<main>
  <h1>Crea tu tarjeta de visita</h1>
  <p>Crea mejores contactos profesionales de <br />forma fácil y cómoda</p>
  <div class="container_landing">
    <div>
      <i class="fa-regular fa-object-ungroup"></i>
      <span>Diseña</span>
    </div>
    <div>
      <i class="fa-regular fa-keyboard"></i>
      <span>Rellena</span>
    </div>
    <div>
      <i class="fa-solid fa-share-nodes"></i>
      <span>Comparte</span>
    </div>
  </div>
  <a href="/src/edit_cards.html">COMENZAR</a>
</main>
