<!-- AQUI VA EL HEADER -->

<div class="card_section">
    <div class="profile">

        <button class="reset_button js-reset-button"> <i class="fa-regular fa-trash-can"></i>
            RESET </button>

        <div class="section_1">
            <div class="layout">
                <div class="card_texts">
                    <h1 id="card__title__id" class="card__title">Nombre Apellido</h1>
                    <p id="card__job__id" class="card__text">Front-end developer</p>
                </div>

                <img id="card__img__id" class="picture"
                    src="https://i.pinimg.com/564x/da/f7/8c/daf78c186a9d4fa2bcfd1d84d9c956ca.jpg"
                    alt="logo-awesome-profile-cards" />

                <div class="rrss">
                    <ul>
                        <li class="social_card">
                            <a id="social__mobile__id" href="#" target="_blank">
                                <i class="fa-solid fa-mobile-screen-button"></i></a>
                        </li>
                        <!-- -----------MOVIL -->
                        <li class="social_card">
                            <a id="social__email__id" href="#" target="_blank">
                                <i class="fa-regular fa-envelope"></i></a>
                        </li>
                        <!-- -----------EMAIL -->
                        <li class="social_card">
                            <a id="social__linkedin__id" href="#" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <!-- -----------LINKEDIN -->
                        <li class="social_card">
                            <a id="social__github__id" href="#">
                                <i class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <!-- ----------- GITHUB -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- AQUI VA EL FOOTER -->