<!-- AQUI VA EL HEADER -->

<div class="card_section">
    <div class="profile">

        <button class="reset_button js-reset-button"> <i class="fa-regular fa-trash-can"></i>
            RESET </button>

        <div class="section_1">
            <div class="layout ">

                <div class="card_texts">
                    <h1 id="card__title__id" class="card__title js_preview_title">Nombre Apellido</h1>
                    <p id="card__job__id" class="card__text js_preview_job">Front-end developer</p>
                </div>

                <div class="picture profile__image js__profile-image" id="card__img__id"  style="background-image:url(https://i.pinimg.com/564x/da/f7/8c/daf78c186a9d4fa2bcfd1d84d9c956ca.jpg)">
                </div> 

                <div class="rrss">
                    <ul>
                        <!-- -----------Movil -->
                        <li class="social_card">
                            <a id="social__mobile__id" href="tel:" target="_blank">
                                <i class="fa-solid fa-mobile-screen-button"></i></a>
                        </li>
                        <!-- -----------Email -->
                        <li class="social_card">
                            <a id="social__email__id" href="mailto:" target="_blank">
                                <i class="fa-regular fa-envelope"></i></a>
                        </li>
                        <!-- ----------- Linkedin -->
                        <li class="social_card">
                            <a id="social__linkedin__id" href="#" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <!-- ----------- Github -->
                        <li class="social_card">
                            <a id="social__github__id" href="#">
                                <i class="fa-brands fa-github-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- AQUI VA EL FOOTER -->