<!-- OLD FIELDSECT -->
<fieldset class="share_section">
    <!-- linea de arriba? -->
    <div class="share_section__top_line"></div>

    <!-- Top part -->
    <div class="share_section__top_part">
       <div class="share_section__top_part--group">
            <!-- icono comparte -->
            <div class="share_icon">
                <i class="fa-solid fa-share-nodes"></i>
            </div>
       
            <!-- comparte message -->
            <p class="share_message">COMPARTE</p>
        </div>

        <!-- icono flecha arriba -->
        <div class="share_section__top_part--angle_up_icon">
            <i class="fa-solid fa-angle-up js-arrow-up-share"></i>
        </div>
    </div>

    <!-- Crear tarjeta / input submit CAMBIAR -->
    <div class="share_section__create_card js-share">
        <button type="submit">
            <i class="fa-regular fa-address-card"></i>
            <p>CREAR TARJETA</p>
        </button>
    </div>

    <!-- Línea abajo -->
    <div class="share_section__bottom_line"></div>
</fieldset> 


<!-- NEW FIELDSET-->
<fieldset class="share_section_after">
    <!-- Message -->
    <p class="message_after">La tarjeta ha sido creada:</p>

    <!-- Card link -->
    <a href="https://adalab.es" class="card_link" target="_blank">https://adalab.es</a>
    
    <!-- Compartir en twitter -->
    <div class="twitter_button">
        <i class="fa-brands fa-twitter"></i>

        <a href="https://twitter.com" target="_blank" class="twitter_text">Compartir en twitter</a>
    </div>
    
    <!-- Línea abajo --> 
    <div class="bottom_line2"></div>

    <!-- Línea final --> 
    <div class="footer_line"></div>
</fieldset>
<!-- FIN DE NEW -->
