<fieldset class="share_section">
  <div class="share_section__top_line"></div>
  <div class="share_section__top_part">
    <div class="share_section__top_part--group">
      <i class="fa-solid fa-share-nodes share_icon"></i>
      <h2 class="share_message js-text-share">COMPARTE</h2>
    </div>
    <i class="fa-solid fa-paw angle_up_icon js-arrow-up-share"></i>
  </div>

  <!-- Crear tarjeta / input submit CAMBIAR -->
  <div class="share_section__create_card collapsed js-share">
    <button class="js_button_create_card" type="submit">
      <i class="fa-regular fa-address-card"></i>
      <p>CREAR TARJETA</p>
    </button>
  </div>

  <!-- Línea  -->
  <div class="share_section__bottom_line0"></div>

  <!-- Línea  -->
  <div class="share_section__bottom_line"></div>

  <!-- DROP-DOWN-->
  <section class="drop_down js_drop_down collapsed">
    <!-- Message -->
    <p class="message_after collapsed">La tarjeta ha sido creada:</p>

    <!-- Card link -->
    <a class="card_link js-card-link" target="_blank"></a>
    <a href="#" class="card_link collapsed" target="_blank">https://adalab.es</a>

    <!-- Compartir en twitter -->
    <div class="twitter_button js-twitter-button">
      <i class="fa-brands fa-twitter"></i>

      <a href="https://twitter.com/intent/tweet" target="_blank" class="twitter_text js-twitter-share-button">Compartir en twitter</a>
      <!-- text, hashtags y url  -->
      <!-- arrow up icon -->
    </div>

    <!-- Línea  -->
    <div class="bottom_line2"></div>
  </section>
</fieldset>
